<br><br>
<div class="like-container">
  <div class="like-pic">
    <%= image_tag("/images/python-ruby.jpg", :alt => "image", :width => "300px", :height => "300px", :title => "PythonRuby") %>
  </div>
  <div class="like-text">
    I consider Python as Hulk and Ruby as IronMan. I was mentored in Python and later moved on to Ruby. I claim i like Python a lot but love working with Ruby. I haven't tasted Django but Rails, I dont own a python-library but a Gem.
  </div>
</div>

<div class="breaker">
  <br><br>
</div>

<div class="like-container">
  <div class="like-pic1">
    I dont exactly remember when did i start fantasizing about Rockets. Normally relectunt to read books, the only only books i have read are biographies of <%= link_to "Robert H Goddard",  "http://en.wikipedia.org/wiki/Robert_H._Goddard"%>, <%= link_to "Wernher Von Braun",  "http://en.wikipedia.org/wiki/Wernher_von_Braun"%> and <%= link_to "A P J Abdul Kalam",  "http://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam"%>. Couldnt get a book on <%= link_to "Sergei korolev",  "http://en.wikipedia.org/wiki/Sergei_Korolev"%>. Always wanted build a rocket of my own. One of my childhood experiments led to a fire in my mom's kitchen. More than enough to scare the hell out me at that age. The image to the right is of R-7 Semyorka, 60 year old design still going strong. Just like the most efficient class ever written, the basic desing always remain the same but efficient.
  </div>
  <div class="like-text1">
    <%= image_tag("/images/r7.jpg", :alt => "image", :width => "300px", :height => "300px", :title => "R7") %>
  </div>
</div>

<div class="breaker">
  <br><br>
</div>

<div class="like-container">
  <div class="like-pic">
    <%= image_tag("/images/cooking.jpg", :alt => "image", :width => "300px", :height => "300px", :title => "PythonRuby") %>
  </div>
  <div class="like-text">
    Cooking was never my taste untill 2013. Hunger and losing interest in fast food led to it. Now i am an amature cook with few tricks in my sleevs. I have tried my dishesh with few of my friends Kiwis, English, Indians and Americans with good results. Also managed to make an Indo-Kiwi Omlet recently.
  </div>
</div>

<div class="breaker">
  <br><br>
</div>

<div class="like-container">
  <div class="like-pic1">
    After the lose of my windows laptop, now i am taking a break with Dota2. Soon i will be back playing my favorite heros.
  </div>
  <div class="like-text1">
    <%= image_tag("/images/dota2.jpg", :alt => "image", :width => "300px", :height => "300px", :title => "R7") %>
  </div>
</div>