<script type="text/javascript">
function big_yt(yt_container,url)
{
document.getElementById(yt_container).innerHTML='<div style="position: absolute; left: 50px; top: 100px; right: 50px; bottom: 80px"><div style="position: relative; float: right; cursor: pointer" onclick="document.getElementById(\''+yt_container+'\').innerHTML=\'\'">CLOSE<\/div><br><iframe src="'+url+'" style="position: absolute; width: 100%; height: 100%" frameborder="0"><\/iframe><\/div>'
}
</script>

<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<div class="right-col">
<div class="pinned note-container">
  <div class="note">
    <h3>New with Me!</h3>
    <p>Going Back to India for 10 days</p>
    <p>Gonna surprise my parents...</p>
  </div>
</div>
</div>


<div class="jumbotron">

    <div class="intro-header">

    <div class="intro-header">
    
        <div class="container">

            <div class="row">
                <div class="col-lg-14">
                    <div class="intro-message">
                        <h1>Edwin Rozario</h1>
                        <h3>Programmer, Rocket Enthusiast, Amateur Cook, Part-time Gamer, Dreamer</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/EdwinARozario" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li><a href="https://github.com/EdwinRozario" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li><a href="http://www.linkedin.com/pub/edwin-rozario/46/4a6/742" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>               
            </div>

        </div>

    </div>
    <!-- /.intro-header -->
  </div>

</div>    


    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Yes I am a Programmer</h2>
                    <p class="lead">
                    Started with C++ at the age of 16, I wasn't serious then. A few kind Geeks and Zed A Shaw helped me
                    understand the basics of programming with Python. "<%= link_to "Learn Python the hard way",  "http://learnpythonthehardway.org/"%>" was so beautiful. Later picked up Ruby and became a full-time Ruby programmer. I am also working with C# for bread. So since 2010 i have been actively coding.
                    </p>

                    <p class="lead">
                    Still I do enjoy the Rails Magic. I tried but couldn't become a fan of Microsoft MVC. I rather code than making Visual Studio take care of my work.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/ruby5.jpg" alt="">
                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->



    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Want to build a Rocket
                        <br>Real one</h2>
                    <p class="lead">
                      I dont exactly remember, when did I start fantasizing about Rockets. Normally relectunt to read books, the only books i have read are biographies of <%= link_to "Robert H Goddard",  "http://en.wikipedia.org/wiki/Robert_H._Goddard"%>, <%= link_to "Wernher Von Braun",  "http://en.wikipedia.org/wiki/Wernher_von_Braun"%> and <%= link_to "A P J Abdul Kalam",  "http://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam"%>. Couldnt get a book on <%= link_to "Sergei Korolev",  "http://en.wikipedia.org/wiki/Sergei_Korolev"%>. Have burned mom's kitchen trying to build a rocket engine. The image to the left is of R-7 Semyorka, 60 year old design still going strong. Just like the most efficient class ever written, the basic desing always remain the same but efficient. It seems Korolev had applied <%= link_to "SOLID", "http://en.wikipedia.org/wiki/SOLID_%28object-oriented_design%29"%> principles 60 years back in Rocketry. 
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-responsive" src="/images/R7.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Eating to Cooking</h2>
                    <p class="lead">
                      Cooking was never my taste untill January 2014. Now i am an amature cook with few tricks up my sleevs. I have tried my dishesh with few of my friends Kiwis, English, Indians and Americans with good results. Also managed to make an Indo-Kiwi Omlet recently. 
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/cooking.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a class="twitter-timeline" href="https://twitter.com/EdwinARozario" data-widget-id="622878789601660928">Tweets by @EdwinARozario</a>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-responsive" src="/images/twitter.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tweet-I-Like
                    <p class="lead">
                      Cool image to describe how to design and bulid stuff. I know people who want to build a bicycle, and owns a truck. Prefered using the same truck tyres for the new bicycle. So they wanted to modify the bicycle to include the truck tyres. Finally ended up building the bicycle around the truck tyre. I would never use that bicycle. Seems this tweet explains that. I should had shared this tweet with that designer.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                  <blockquote class="twitter-tweet" lang="en"><p>How Spotify builds a product! <a href="https://twitter.com/search?q=%23SoRight&amp;src=hash">#SoRight</a> <a href="http://t.co/rU48jgWe1B">pic.twitter.com/rU48jgWe1B</a></p>&mdash; Siavash Mahmoudian (@siavash) <a href="https://twitter.com/siavash/statuses/457262879733866496">April 18, 2014</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <div class="banner">

        <div class="container">

            <div class="row">
                <!-- <div class="col-lg-6">
                    <h2>To get in touch:</h2>
                </div> -->
                <div class="col-lg-7">

<!--                     <h4>
                      <%= link_to "My best friend is getting married",  status_home_index_path %>
                    </h4>

                    <ul>
                    <li><%= link_to 'Home', root_path %></span></li>
                    <li><%= link_to 'Work', page_path('about') %></li>
                    <li><%= link_to 'Blog', blog_index_path %></li>
                    <li><%= link_to 'Contact', contact_home_index_path %></li>
                    </ul>
                 <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/EdwinARozario" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="https://github.com/EdwinRozario" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li><a href="http://www.linkedin.com/pub/edwin-rozario/46/4a6/742" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                        <%= link_to "JarviZ".html_safe, 
                        contact_home_index_path, class: "btn btn-primary btn-xl" %>
                        </li>
                    </ul> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#services">Work</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#services">Blog</a>
                        </li>                        
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><%= link_to 'Contact', contact_home_index_path %></li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><%= link_to 'Lets Talk', talk_home_index_path %></li>                        
                        </li>
                    </ul>
                    <!-- <p class="copyright text-muted small">Copyright &copy; Your Company 2013. All Rights Reserved</p> -->
                </div>
            </div>
        </div>
    </footer>

    <!-- Carousel
================================================== -->
<!--    <div id="myCarousel" class="carousel slide" data-ride="carousel">
   
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active" style="width: 1500px; height: 700px; margin: 0 auto">
          <%= image_tag('/images/ruby.jpg', size:"1500x700") %>
    
          <div class="container">
            <div class="carousel-caption">
              <h1>Ruby On Rails</h1>
              <p>Currently working with <a href="http://surplustronics.co.nz/">Surplustronics</a>. Incharge of all their web apps and the Ubuntu server.</p>
    
            </div>
          </div>
        </div>
        <div class="item" style="width: 1500px; height: 700px; margin: 0 auto">
          <%= image_tag('/images/csharp.jpg', size:"1500x700") %>

          <div class="container">
            <div class="carousel-caption">
              <h1>Windows MVC</h1>
              <p>Also working with <a href="http://www.grantday.co.nz/">GrantDay Softwares</a>. I am not a big fan of ASP.NET though.</p>

            </div>
          </div>
        </div>
        <div class="item" style="width: 1500px; height: 700px; margin: 0 auto">
          <%= image_tag('/images/marriage.jpg', size:"1500x700") %>

          <div class="container">
            <div class="carousel-caption">
              <h1>My Best friend is getting married.</h1>
              <p>I wish if i could fly down there.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div> -->
